.card-is-online-true {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
	height: 12rem;
	margin: 0.8rem 0.3rem;
	box-shadow:  2px 2px 10px 4px green;
	background-color: steelblue;
}

.card-is-online-false {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
	height: 12rem;
	margin: 0.8rem 0.3rem;
	box-shadow:  2px 2px 10px 4px green;
	background-color: steelblue;
	filter: grayscale(1);
}

.card-is-online-true > img {
	width: 100%;
	height: 80%;
}

.card-is-online-true > h1 {
	font-size: 1rem;
	height: 20%;
	text-align: center;
	color: black;
	font-weight: 700;
	padding: 0.2rem 0;
}

.card-is-online-false > img {
	width: 100%;
	height: 80%;
}

.card-is-online-false > h1 {
	font-size: 1rem;
	color: black;
	text-align: center;
	font-weight: 700;
	padding: 0.2rem 0;
}
