.frame {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 20%);
	background-color: steelblue;
	margin: 1rem 0;
}

.frame-stream {
	display: flex;
	width: 100%;
	height: 40%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.frame-stream > img {
	width: 100%;
}

.frame-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.4rem 1rem;

	justify-content: center;
}

.frame-description > h1 {
	font-size: 2rem;
	color: snow;
	font-weight: 700;
}

.frame-description > h2 {
	font-size: 1rem;
	color: snow;
	font-weight: 700;
}

.frame-stream > button {
	margin: 0 1rem;
	padding: 0.6rem;
	background-color: fuchsia;
	align-self: flex-end;
}


.frame-messages {
	display: flex;
	width: 100%;
	height: 16rem;
	background-color: cadetblue; 
	align-items: center;
	justify-content: flex-start;
	overflow: scroll;
	flex-wrap: nowrap;
	flex-direction: column;
}

.frame-input {
	display: flex;
	width: 100%;
	padding: 0 0.4rem;
	height: 5rem;
	align-items: flex-end;
	justify-content: space-between;
	overflow: scroll;
}

.frame-input > input {
	width: 75%;
	height: 60%;
	background-color: snow;
	color: darkgray;
	border: none;
	border-radius: 1rem;
}

.frame-input > button {
	width: 20%;
	height: 60%;
	display: flex;
	align-items: center;
	border-radius: 50rem;
	justify-content: center;
	background-color: cadetblue;
}

.frame-input > button > img {
	width: 2rem;
	height: 2rem;
}
