.room {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--thirdiary-color);
	padding: 1rem;
}


.room-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.room-content > section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.room-content > section > h1 {
	width: 100%;
	margin: 0.4rem 0;
	text-align: center;
	font-size: 1.8rem;
	color: black;
	font-weight: 700;
}