.splash {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--thirdiary-color);
	padding: 2rem;
}

@keyframes splash-spin {
	0% {
		transform: scale(0.4);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.4);
	}
}

.splash > h1 {
	font-weight: 700;
	color: black;
	margin-bottom: 4rem;
	font-size: 2.2rem;
}

.splash > img {
	animation: splash-spin infinite 1600ms ease-in-out;
}

