.splash {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: darkorchid;
	padding: 2rem;
}

@keyframes splash-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

.splash > h1 {
	font-weight: 700;
	color: snow;
	margin-bottom: 4rem;
	font-size: 2.2rem;
}

.splash > img {
	animation: splash-spin infinite 800ms ease-in-out;
}

.splash > a {
	color: snow;
	margin-top: 4rem;
	border-radius: 2rem;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid darkmagenta;
}
